Estatística II/course_content/bases/energia.xlsx
Estatística II/course_content/bases/imoveiscwbav.RData
Estatística II/course_content/bases/pib.RData
Estatística II/course_content/bases/populacao.RData
Estatística II/course_content/bases/trabalhosalarios.RData
Estatística II/course_content/bases/varejo.RData
Estatística II/course_content/bases/wage.RData
Estatística II/course_content/scripts/EST2_Rotina_Secao_1_2.R
Estatística II/course_content/scripts/EST2_Rotina_Secao_1_3.R
Estatística II/course_content/scripts/EST2_Rotina_Secao_1_5.R
Estatística II/course_content/scripts/EST2_Rotina_Secao_1_6.R
Estatística II/course_content/scripts/EST2_Rotina_Secao_1_7.R
Estatística II/course_content/scripts/EST2_Rotina_Secao_2_2.R
Estatística II/course_content/scripts/EST2_Rotina_Secao_2_3.R
Estatística II/course_content/scripts/EST2_Rotina_Secao_2_4.R
Estatística II/course_content/scripts/EST2_Rotina_Secao_3_2.R
Estatística II/course_content/scripts/EST2_Rotina_Secao_3_3.R
Estatística II/course_content/scripts/EST2_Rotina_Secao_3_4.R
Estatística II/course_content/scripts/EST2_Rotina_Secao_3_5.R
